<% @clotheses.each do |clothes| %>
  
<% if clothes.subcategory === 'Clothes' %>
  <td><%= clothes.title %></td>
   <td><%= clothes.text %></td>
  <p>
      <b>Image:</b>
      <%= image_tag (clothes.recipe_image.url) %>
  </p>
<%  end %>

<%  end %>
    
