<% @furnitures.each do |furniture| %>


  
<% if furniture.subcategory === 'Furnitures' %>
  <td><%= furniture.title %></td>
   <td><%= computer.text %></td>
   <p>
      <b>Image:</b>
      <%= image_tag furniture.recipe_image.url %>
  </p>
<%  end %>

<%  end %>
    
