<% @vehicles.each do |vehicle| %>


  
<% if vehicle.subcategory === 'Vehicles' %>
  <td><%= vehicle.title %></td>
  <td><%= vehicle.text %></td>
  <p>
      <b>Image:</b>
      <%= image_tag vehicle.recipe_image.url %>
  </p>
<%  end %>

<%  end %>
    
